services:
  mysql:
    container_name: some-mysql
    image: mysql:5.7
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: prestashop
    #volumes:
    #  - ./data/db:/var/lib/mysql
    networks:
      prestashop_network:
          aliases:
            - db
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8081:80
    depends_on:
      - mysql
    environment:
      - PMA_ARBITRARY=1
    networks:
      - prestashop_network
  prestashop:
    container_name: prestashop
    image: prestashop/prestashop:latest
    restart: unless-stopped
    depends_on:
      - mysql
    ports:
      - 8080:80
    environment:
      DB_SERVER: some-mysql
      DB_NAME: prestashop
      DB_USER: root
      DB_PASSWD: admin
      PS_INSTALL_AUTO: 1
      PS_DOMAIN: localhost:8080
      PS_FOLDER_ADMIN: admin_xxx
      ADMIN_MAIL:	admin@admin.com
      ADMIN_PASSWD: admin123
    #volumes:
    #  - ./data/ps:/var/www/html
    #  - ./ipgcheckout:/var/www/html/modules/ipgcheckout
    networks:
      - prestashop_network
networks:
    prestashop_network:
      driver: bridge